<?xml version="1.0" encoding="utf-8"?>
    <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
    <conversionPattern>%date [%thread] %-5level %logger - %message%newline</conversionPattern>
    </layout>
  </appender>
  <appender name="DepoAppender" type="log4net.Appender.FileAppender">
    <file value="depoBot.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern>%date [%thread] %-5level %logger - %message%newline</conversionPattern>
    </layout>
  </appender>
  <appender name="SmdAppender" type="log4net.Appender.FileAppender">
    <file value="smdBot.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern>%date [%thread] %-5level %logger - %message%newline</conversionPattern>
    </layout>
  </appender>
  <logger name="DepoLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="DepoAppender" />
  </logger>
  <logger name="SmdLogger" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="SmdAppender" />
  </logger>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>
